<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Welcome!
        {% endblock %}
    </title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Chat</strong>
            </a>
        </div>
    </div>
</header>
{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <div class="row">
                <div id="list" class="col-lg-12 col-md-12 col-sm-12 rounded message-list"></div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <textarea rows="15" cols="30" id="message-box" class="form-control" ²="3" style="resize:none;"></textarea>
                    <textarea  id="message-box" class="form-control" ²="3" style="resize:none;"></textarea>
                    <div>                        <button id="send" type="button" class="btn btn-lg btn-block btn-outline-primary">Send</button>
                        <small class="text-muted">Press Enter to send</small>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>
