{% extends 'back/index.html.twig' %}
{% block body %}

                            <div id="div_chart" >
                            </div>
                            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js
">
                            </script>
                            <script type="text/javascript">
                                {{ gc_draw(piechart,'div_chart') }}
                            </script>

                        {% endblock %}