{% extends 'base.html.twig' %}


{% block title %}Hello ConversationController!{% endblock %}

{% block body %}

    <main>

        <div class="container mt-5 mb-5">

            {#        {% if channels %} #}
            <table class="table table-striped">
                <a>Which chat do you want to join ?</a>
                <tbody>
                {% for channel in conv %}
                    <tr class="">
                        <th>
                            <span>{{ channel.titreConversation }}</span>
                            <a class="btn btn-primary float-right"
                               href="{{ path('affichageMessage' , {idConversation:channel.idconversation }) }}">Go chat
                                !</a>
                            {#                    href="{{ path('chat', {id: channel.idconversation}) }}" #}
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
