{% extends 'base.html.twig' %}


{% block title %}Hello ConversationController!{% endblock %}

{% block body %}
    <div>
        <form id="form" class="container row">
        <input name="search" id="search" class="input-group-text col-sm-9" placeholder="Search" type="text" >
        </form>
    <div class="example-wrapper">

{#        {% if channels %}#}
        <h2>Which chat do you want to join ?</h2>
    <center>
    <table class="table table-striped">
        <tbody>
        {% for channel in conv %}
            <tr class="">
                <th>
                    <span>{{ channel.titreConversation }}</span>
                    <a class="btn btn-primary float-right" href="{{ path('affichageMessage' , {idConversation:channel.idconversation }) }}" >Go chat !</a>
{#                    href="{{ path('chat', {id: channel.idconversation}) }}"#}
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </center>
{#{% else %}#}
{#    <div>#}
{#        <div class="alert alert-danger text-center">No Channels found. Create Users with the <b>create:channel</b> command</div>#}
{#    </div>#}
{#    {% endif %}#}
</div>
    </div>
{% endblock %}
